*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #eee;
    color: #111;
}

button{
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

ul{
    list-style-type: none
}

li{
    margin: 5px 0;
}

h2{
    margin-top: 40px;
}